*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

:root{
    --bg-color: #160d07;
    --text-color: #fffdee;
    --main-color: #ffa86a;
    --other-color: #d6d4c8;
    --second-color: #ffffff4f;
    --alt-color: #7d5537;

    --h1-font: 7.5rem;
    --h2-font: 5.5rem;
    --p-font: 1.1rem;
}

body{
    color: var(--text-color);
    background: linear-gradient(250.55deg, #120b07 0%, #311b0d 28.55%, #160d07 75.55%);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 28px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .7s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlinks a{
    display: inline-block;
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 500;
    margin: 0 32px;
    transition: all .6s ease;
}

.navlinks a:hover{
    color: var(--main-color);
}

.nav-side{
    display: flex;
    align-items: center;
}

.n-btn{
    display: inline-block;
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--second-color);
    color: var(--text-color);
    border-radius: 0.8rem;
    transition: all .7s ease;
}

.n-btn:hover{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--bg-color);
    transform: scale(1.07) translateY(-5px);
}

#menu-icon{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 20px;
    display: none;
}

section{
    padding: 90px 17% 80px;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.home-img img{
    width: 100%;
    height: auto;
}

.home-text h1{
    font-family: "Forum", serif;
    font-size: var(--h1-font);
    font-weight: 500;
    margin: 22px 0;
}

.home-text h4{
    font-size: 30px;
    font-weight: 500;
    color: var(--main-color);
    font-family: "Forum", serif;
}

.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 32px;
}

.social{
    position: absolute;
    top: 50%;
    padding: 0 8%;
    transform: translateY(-50%);
}

.social i{
    display: block;
    color: var(--text-color);
    margin: 28px 0;
    font-size: 22px;
    transition: all .7s ease;
}

.social i:hover{
    transform: scale(1.1) translateY(-5px);
    color: var(--main-color);
}

.arrow-box{
    position: absolute;
    bottom: 12%;
    right: 35%;
}

.arrow-box i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 35px;
    transition: all .7s ease;
}

.arrow-box i:hover{
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transform: scale(0.9);
}

header.sticky{
    background: linear-gradient(250.55deg, #120b07 0%, #311b0d 28.55%, #160d07 75.55%);
    padding: 15px 8%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.about-text h2{
    font-family: "Forum", serif;
    font-size: var(--h1-font);
    font-weight: 500;
    margin-bottom: 20px;
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.btn{
    display: inline-block;
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--bg-color);
    text-transform: uppercase;
    border: 1px solid var(--main-color);
    border-radius: 0.8rem;
    transition: all .7s ease;
}

.btn:hover{
    background: transparent;
    border: 1px solid var(--second-color);
    color: var(--text-color);
    transform: scale(1.1);
    letter-spacing: 2px;
}

.head-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.head-left h4{
    font-size: var(--h2-font);
    font-weight: 500;
    font-family: "Forum", serif;
}

.head-right h4{
    font-size: 25px;
    font-weight: 500;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 4rem;
    width: 100%;
}

.box-img img{
    max-width: 250px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .7s ease;
}

.box{
    position: relative;
    background: linear-gradient(rgba(255, 168, 106, 0.35), rgba(3, 3, 3, 0.77) 64%, rgba(3, 3, 3) 100%);
    padding: 40px 60px;
    border: 1px solid #352317;
    border-radius: 0.8rem;
}

.box h3{
    font-size: 35px;
    font-weight: 500;
    margin: 12px 0;
    font-family: "Forum", serif;
}

.box h5{
    font-size: 14px;
    color: var(--other-color);
    font-weight: 500;
}

.cart i{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 0px 0.8rem 0px 0px;
}

.box:hover img{
    transform: scale(1.03) translateY(-6px);
    cursor: pointer;
}

.box:hover h5{
    color: var(--main-color);
}

.exb-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.exb-img img{
    max-width: 530px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
}

.exb-text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
}

.row:not(:last-child){
    border-bottom: 1px solid var(--main-color);
    border-width: 40%;
    padding-bottom: 30px;
    cursor: pointer;
}

.row h5{
    font-family: "Forum", serif;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 7px;
    transition: all .7s ease;
}

.row a{
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
}

.row:hover h5{
    color: var(--main-color);
}